.tile {
    background-color: rgb(235 239 243);
    height: 9em;
    max-height: 90px;
    border-radius: 10px;
    width: 9em;
    max-width: 150px;
    text-transform: uppercase;
    display: flex;
    border: none;
}

.tile:hover:not(:disabled) {
    background-color: rgb(214 216 219);
    transition: 0.1s;
}

.tile.selected {
    background-color: rgb(99 103 107);
    color: white;
}

.tile.selected:hover {
    background-color: rgb(99 103 107);
    color: white;
    transition: 0.1s;
}

.tile.yellow {
    background-color: rgb(249, 223, 109);
}


.tile.green {
    background-color: rgb(160, 195, 90);
}

.tile.blue {
    background-color: rgb(176, 196, 239);
}

.tile.purple {
    background-color: rgb(186 129 197);
}





p {
    margin: auto;
    font-weight: bold;
}