@page "/puzzle/{shareId}"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Connections.Data
@using Connections.Models;
@using System.Linq;
@using System.Globalization
@using System.Collections.Immutable
@implements IDisposable
@inject IDbContextFactory<ConnectionsContext> DbFactory
@inject PersistentComponentState ApplicationState

<div id="puzzle">
	<section id="puzzle-info">
		<h2>@puzzle?.Title</h2>
		<h5>Created by @puzzle?.CreatedBy</h5>
		<h5>@puzzle?.CreatedOn.ToString(DateTimeFormatInfo.CurrentInfo.LongDatePattern)</h5>
	</section>

	<div id="grid">
		@if (solvedGroups.Any())
		{
			@foreach ((int idx, Group group) in solvedGroups.Index())
			{
				<SolvedGroup Group=@group nthSolved=@idx />
			}
		}
		@if (tiles.Any())
		{
			@foreach (Tile tile in tiles)
			{
				<PuzzleTile Tile=@tile OnTileClick=@UpdateTilesState />
			}
		}
	</div>
	<div id="mistakes">
		<Mistakes LivesLost=@mistakes/>
	</div>
	<div id="controls">
		<button
			type="button"
			disabled=@(puzzle is null)
			@onclick=OnShuffleClick
		>
			Shuffle
		</button>
		<button 
			type="button"
			disabled=@(puzzle is null || GetSelectedTileCount() == 0)
			@onclick=OnDeselectClick	
		>
			Deselect All
		</button>
		<button
			type="button"
			id="submit"
			disabled=@(puzzle is null || GetSelectedTileCount() < 4)
			@onclick=OnSubmitClick
		>
			Submit
		</button>
	</div>
</div>

@code {
	[Parameter]
	public string ShareId { get; set; } = "";

	private Puzzle? puzzle;
	private IImmutableList<Tile> tiles = [];
	private IImmutableList<Group> solvedGroups = [];
	private int mistakes = 0;

	private PersistingComponentStateSubscription puzzleSubscription;
	private PersistingComponentStateSubscription tilesSubscription;

	/// <summary>
	/// On page load, query pre-loaded application state for puzzle and tile data
	/// If puzzle doesn't exist, query database for puzzle and groups and persist in state
	/// If tiles don't exist, map from puzzle groups
	/// </summary>
	/// <returns></returns>
	protected override async Task OnInitializedAsync()
	{
		puzzleSubscription = ApplicationState.RegisterOnPersisting(PersistPuzzleData);
		tilesSubscription = ApplicationState.RegisterOnPersisting(PersistTilesData);

		if (ApplicationState.TryTakeFromJson<Puzzle>(nameof(puzzle), out Puzzle? restoredPuzzle))
		{
			puzzle = restoredPuzzle;
		}
		else
		{
			puzzle = await GetPuzzleAsync(ShareId);
		}

		if (ApplicationState.TryTakeFromJson<IImmutableList<Tile>>(nameof(tiles), out IImmutableList<Tile>? restoredTiles))
		{
			tiles = restoredTiles ?? [];
		}
		else
		{
			tiles = MapPuzzleTiles(puzzle) ?? [];
		}
	}

	/// <summary>
	/// Query database for a puzzle and its groups
	/// </summary>
	/// <param name="shareId"></param>
	/// <returns></returns>
	private async Task<Puzzle?> GetPuzzleAsync(string shareId)
	{
		using ConnectionsContext context = DbFactory.CreateDbContext();
		return await context.Puzzles
			.Include(p => p.Groups)
			.SingleOrDefaultAsync(p => p.ShareId == shareId);
	}

	/// <summary>
	/// Map a puzzle's groups into a set of labelled shuffled tiles
	/// </summary>
	/// <returns></returns>
	private IImmutableList<Tile>? MapPuzzleTiles(Puzzle? puzzle)
	{
		return puzzle?.Groups.SelectMany(group =>
		{
			return new Tile[]
			{
				new Tile { Label = group.Member1 },
				new Tile { Label = group.Member2 },
				new Tile { Label = group.Member3 },
				new Tile { Label = group.Member4 }
			};
		})
		.OrderBy(_ => Guid.NewGuid())
		.ToImmutableList();
	}

	/// <summary>
	/// Recreate state of tiles when a tile is clicked
	/// When a tile is clicked, toggle its state from selected or deselected
	/// If it is the 4th tile to be clicked, disable all deselected tiles
	/// If deselecting a 4th tile, re-enable all disabled tiles
	/// </summary>
	/// <param name="selectedTileLabel"></param>
	private void UpdateTilesState(string selectedTileLabel)
	{
		int tilesAlreadySelected = GetSelectedTileCount();
		TileState selectedTileState = tiles!.Single(t => t.Label == selectedTileLabel).State;

		tiles = tiles!.Select(t =>
		{
			if (t.Label == selectedTileLabel)
			{
				return new Tile
				{
					Label = t.Label,
					State = t.State == TileState.DEFAULT ? TileState.SELECTED : TileState.DEFAULT,
					SolvedColour = t.SolvedColour
				};
			}

			if (tilesAlreadySelected == 3 && selectedTileState != TileState.SELECTED)
			{
				return new Tile
				{
					Label = t.Label,
					State = t.State == TileState.DEFAULT ? TileState.DISABLED : t.State,
					SolvedColour = t.SolvedColour
				};
			}

			if (tilesAlreadySelected == 4)
			{
				return new Tile
				{
					Label = t.Label,
					State = t.State == TileState.DISABLED ? TileState.DEFAULT : t.State,
					SolvedColour = t.SolvedColour
				};
			}

			return t;
		}).ToImmutableList();
	}

	/// <summary>
	/// Deselect all selected tiles
	/// </summary>
	private void OnDeselectClick()
	{
		tiles = tiles!.Select(t =>
		{
			if (t.State == TileState.SELECTED || t.State == TileState.DISABLED)
			{
				return new Tile
				{
					Label = t.Label,
					State = TileState.DEFAULT,
					SolvedColour = t.SolvedColour
				};
			}
			return t;
		}).ToImmutableList();
	}

	// <summary>
	/// Shuffle unsolved tiles
	/// </summary>
	private void OnShuffleClick()
	{
		tiles = tiles!
			.OrderBy(_ => Guid.NewGuid())
			.ToImmutableList();
	}

	/// <summary>
	/// Submit 4 selected tiles as a potential group
	/// Sets tile state to correct and colour to group difficulty if a match is found
	/// Increments mistake counter and clears grid if no match is found
	/// </summary>
	private void OnSubmitClick()
	{
		Group? matchingGroup = FindMatchingGroup(tiles!.Where(t => t.State == TileState.SELECTED));
		if (matchingGroup is null)
		{
			mistakes++;
			tiles = tiles!.Select(t =>
			{
				return new Tile
				{
					Label = t.Label,
					State = t.State == TileState.CORRECT ? TileState.CORRECT : TileState.DEFAULT,
					SolvedColour = t.SolvedColour
				};
			}).ToImmutableList();
		}
		else
		{
			solvedGroups = solvedGroups.Add(matchingGroup);
			tiles = RebuildTiles(matchingGroup);
		}
	}

	/// <summary>
	/// Validates a submitted group against the list of groups in the puzzle
	/// </summary>
	/// <returns>The group that matched the submitted tiles, or null if no group found</returns>
	private Group? FindMatchingGroup(IEnumerable<Tile> submission)
	{
		IEnumerable<string> submittedLabels = submission.Select(l => l.Label).Order();
		return puzzle!.Groups.SingleOrDefault(group =>
		{
			IEnumerable<string> groupLabels = [group.Member1, group.Member2, group.Member3, group.Member4];
			return submittedLabels.SequenceEqual(groupLabels.Order());
		});
	}

	/// <summary>
	/// Rebuilds the tiles grid after a correct submission by moving the correct
	/// tiles to the first unsolved row and swapping any elements that are in
	/// that row
	/// </summary>
	/// <param name="solvedGroup">The puzzle group that has been solved</param>
	/// <returns></returns>
	private IImmutableList<Tile> RebuildTiles(Group solvedGroup)
	{
		/*List<Tile> unsolvedTilesInFirstRow = tiles!
			.Take(4)
			.Where(t => t.State == TileState.DISABLED)
			.ToList();
		List<Tile> solvedTilesNotInFirstRow = tiles!
			.Skip(4)
			.Where(t => t.State == TileState.SELECTED)
			.ToList();*/

		return tiles!
			.Where(t => t.State != TileState.SELECTED)
			.Select(t =>
			{
				return new Tile()
				{
					Label = t.Label,
					State = TileState.DEFAULT
				};
			})
			.ToImmutableList();
	}

	private int GetSelectedTileCount() => tiles?.Count(t => t.State == TileState.SELECTED) ?? 0;

	/// <summary>
	/// Persist queried puzzle data so it isn't set a second time after page preload
	/// </summary>
	/// <returns></returns>
	private Task PersistPuzzleData()
	{
		ApplicationState.PersistAsJson(nameof(puzzle), puzzle);
		return Task.CompletedTask;
	}

	/// <summary>
	/// Persist queried & randomised tiles data so it isn't set a second time after page preload
	/// </summary>
	/// <returns></returns>
	private Task PersistTilesData()
	{
		ApplicationState.PersistAsJson(nameof(tiles), tiles);
		return Task.CompletedTask;
	}

	void IDisposable.Dispose()
	{
		puzzleSubscription.Dispose();
		tilesSubscription.Dispose();
	}
}