@using Connections.Models

<button
	@onclick="@(async () => await OnTileClick.InvokeAsync(Tile.Label))"
	class="tile @(Tile.SolvedColour) @(Tile.State == TileState.SELECTED ? "selected" : "")"
	disabled=@(Tile.State == TileState.DISABLED || Tile.State == TileState.CORRECT)
>
	<p>@Tile.Label</p>
</button>

@code {
	[Parameter]
	public Tile Tile { get; set; } = new();

	[Parameter]
	public EventCallback<string> OnTileClick { get; set; }
}