.group {
    height: 9em;
    max-height: 90px;
    border-radius: 10px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.desc {
    margin: auto;
    font-weight: bold;
    margin-top: 1.25em;
}

.members {
    margin: auto;
    font-weight: normal;
    margin-bottom: 1.25em;
}

.yellow {
    background-color: rgb(249, 223, 109);
}

.green {
    background-color: rgb(160, 195, 90);
}

.blue {
    background-color: rgb(176, 196, 239);
}

.purple {
    background-color: rgb(186 129 197);
}

#solved-0 {
    grid-area: 1 / 1 / 2 / 5;
}

#solved-1 {
    grid-area: 2 / 1 / 3 / 5;
}

#solved-2 {
    grid-area: 3 / 1 / 4 / 5;
}

#solved-3 {
    grid-area: 4 / 1 / 5 / 5;
}