@page "/"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<PageTitle>Only Connections</PageTitle>

<h1>Only Connections</h1>

<button>Create a Game</button>
<h2>or</h2>
<button @onclick="@(() => Navigation.NavigateTo("/puzzle/test1234"))">Try the Sample Game</button>
